.page {
    color: #585858;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 0px 25px rgba(50, 50, 50, 0.75);
}

#topEpierance {
    margin-top: 0px;
}

#cv {
    padding: 30px 0px 0px 0px;
}

.cv-h5,
.cv-h5-nonMargin-top,
.cv-h5-for-Donload {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 19px;
    margin: 20px 0px 5px 0px;
}

.cv-h5-nonMargin-top {
    margin-top: 0px;
}

.cv-h5-for-Donload {
    margin-top: 120px
}

.info {
    font-size: 18px;
}

@media (min-width: 900px) {
    .page {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 25px;
    }
}

#header {
    font-size: 35px;
    color: #333;
    margin: 0px;
    padding-left: 0px;
    text-transform: capitalize;
}

#name {
    font-size: 35px;
}

@media(max-width: 600px) {
    #name {
        width: 250px;
    }
}

.Tools {
    font-weight: bold;
    font-size: 15px;
    color: #585858;
}

#art-know {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 600px) {
    #art-about {
        padding-right: 30px;
    }
}

#firstSkillsSet {
    margin: 0px;
}

.Skills {
    margin: 0px;
    font-size: 16px;
    column-count: 3;
    column-gap: 24px;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

.Skills li {
    break-inside: avoid;
    /* margin-bottom: 8px; */
}

@media (max-width: 600px) {
    .Skills {
        column-count: 2;
        column-gap: 12px;
    }
}

.Skills ul li {
    line-height: 24px;
}



a:hover {
    color: #0faee1;
}

.sectionPadding {
    padding: 0px 35px 10px 35px;
}

#header {
    margin-top: 0px;
}

.grid-plus {
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#cont-art {
    padding: 10px 0px 10px 0px;
}

.grid {
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: 1fr;

}

@media (min-width: 800px) {
    .grid {
        /* margin-top: 20px; */
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

/* header */
#socials {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
}

#socials a {
    color: #585858;
    margin: 5px;
}

#socials a:first-child:hover {
    color: #0e76a8;
}

#socials a:hover {
    color: #333;
}

#contact header {
    padding: 0px;
}

#cont-art {
    margin-top: 0px;
    line-height: 24px;
}

#cont-art #left {
    font-weight: bold;
    text-transform: capitalize;
}

#cont-art #right,
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* work/edu */
.non-margin-top {
    margin-top: 0px;
}