.page {
    color: #585858;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 0px 25px rgba(50, 50, 50, 0.75);
}

.cv-h5{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 19px;
    margin: 20px 0px 5px 0px;
}

.info {
    font-size: 18px;
}

@media (min-width: 900px) {
    .page {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 25px;
    }
}

#header {
    font-size: 35px;
    color: #333;
    margin: 0px;
    text-transform: capitalize;
}

.Tools{
    font-weight: bold;
    font-size: 15px;
    color:#585858;
}

#art-know{
    display:flex;
}

#firstSkillsSet {
    margin: 0px;
}

.Skills{
    margin: 0px 0px 0px 20px;
    font-size: 18px;
}
.Skills ul li {
    line-height: 24px;
}



a:hover {
    color: #0faee1;
}

#header, #contact, #know, #work, #edu {
    padding: 10px 35px;
}

#header {
    margin-top: 0px;
}

.grid-plus {
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid {
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 800px) {
    .grid {
        /* margin-top: 20px; */
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

/* header */
#socials {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
}

#socials a {
    color: #585858;
    margin: 5px;
}

#socials a:first-child:hover {
    color: #0e76a8;
}

#socials a:hover {
    color: #333;
}

#contact header {
    padding: 0px;
}

#cont-art {
    margin-top: 0px;
    line-height: 24px;
}

#cont-art #left {
    font-weight: bold;
    text-transform: capitalize;
}

#cont-art #right, ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* work/edu */
.non-margin-top {
    margin-top: 0px;
}

