
.react-calendar button {
  border: 1px solid #aaa9bf3b;
}
.react-calendar{
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  border: 1px solid #aaa9bf;
  border-radius: 5px;
  margin: 5px;
}
.react-calendar__navigation__label {
  border: none !important;
}
.react-calendar__navigation {
  margin-bottom: 2px;
}

.react-calendar__navigation button {
  pointer-events: none !important;
  cursor: not-allowed !important;
}
.react-calendar__tile {
  border: 1px solid #aaa9bf;
}
.react-calendar__tile:hover {
  background-color: #17ea22a8 !important;
}

.react-calendar__tile:focus {
  /* background: #0de9194f !important; */
}

.highlight {
  background-color:#0de9194f;
  color: black;
}

.react-calendar__month-view__weekdays__weekday {
  margin-bottom: 5px;
}
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  pointer-events: none !important;
  cursor: not-allowed !important;
}