@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500;700&display=swap');

$tesco_blue:#00539f;

#wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(245, 245, 245, 1);
}
#TL_Wrapper {
    display: flex;
    height: 254px;
    width: 1000px;
    background-color: #fff;
    margin: auto;
    padding:20px;
}
.main {
    width: 80%;
    height: 100%;
}
#right {
    width: 20%;
    height: 100%;
}
#circleWrapper {
    margin: 55px auto;
    position: relative;
    height: 144px;
    width: 144px;
}
.SCWrapper {
    transform: scaleX(-1);
}
#innerCircle {
    position: absolute;
    border-radius: 50%;
    top: 22px;
    right: 22px;
    height: 100px;
    width: 100px;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text {
    font-weight: Bold;
    color: #413a3a;
    font-size: 26px;
    font-family: 'Lato', 'Roboto', 'Arial';
}

.mainTop {
    height: 50%;
    width: 100%;
}
.mainBottom {
    height: 50%;
    width: 100%;
    margin: auto;
    display: flex;
}
.HourWrapper{
    position: relative;
    height:25px;
    width: 47px;
}
.TimeLineWrapper {
    height: 21px;
    margin: auto;
    position: relative;
}
.T_Line,
.H_Divider,
.H_Divider::after,
.HH_Divider,
.QH_Divider,
.QH_Divider::after {
    background-color: #413a3a;
    position: absolute;
    width: 2px;
    content: '';
}
.T_Line {
    height: 1px;
    width: 48px;
    top: 10px;
}
//Hour divider
.H_Divider,
.H_Divider::after {
    height: 21px;
}
.H_Divider::after {
    margin-left: 47px;
}
//Half Hour divider
.HH_Divider {
    height: 15px;
    margin: 3px 0px 3px 24px;
}
//Quarter Hour dividers
.QH_Divider,
.QH_Divider::after {
    width: 1px;
    height: 15px;
}
.QH_Divider {
    margin: 3px 0px 3px 12px;
}
.QH_Divider::after {
    margin-left: 24px;
}
//
// Timer text
.Timer {
    top: -20px;
    left: -21px;
    position: absolute;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 15px;
    display: flex;
    width: 90px;
}
//

.TL_Wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}