@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500;700&display=swap');

#wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(245, 245, 245, 1);
}
#TL_Wrapper {
    display: flex;
    height: 254px;
    width: 1000px;
    background-color: #fff;
    margin: auto;
}
.main {
    width: 70%;
    height: 100%;
}
#right {
    width: 30%;
    height: 100%;
}
#circleWrapper {
    margin: 55px auto;
    position: relative;
    height: 144px;
    width: 144px;
}
.SCWrapper{
    transform: scaleX(-1);
}
#innerCircle {
    position: absolute;
    border-radius: 50%;
    top: 22px;
    right: 22px;
    height: 100px;
    width: 100px;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text {
    font-weight: Bold;
    color: #413a3a;
    font-size: 26px;
    font-family:'Lato', 'Roboto', 'Arial';
}
