
.invalid{
    color:red;
    margin-left: 0.25rem;
}
.valid{
    color:limegreen;
    margin-left: 0.25rem;
}
.hide{
    display:none;
}
.offscreen{
    position: absolute;
    left:-9999px;
}
.instructions{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    padding:5px;
}
.fontInfoPopUp{
    margin: 0px 5px;
}
.section{
    width:100%;
    display:flex;
    padding:1rem;
    min-height: 545.797px;
    width:420px;
    border-radius: 5px;
    flex-direction:column;
    justify-content:flex-start;
    background-color:#17293f;
    box-shadow: 5px 10px #59555536
}
.Wrapper{   
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 1rem 0.5rem;
}
.RegisterHeader{
    color: #fff;
    font-size: 24px;
}
.passWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.fieldSection{
    margin-top:20px;
}
.label{
   font-size: 18px;
}
.input{
    width: 100%;
    border-radius: 5px;
}
.passEyeSpan{
    position: absolute;
    right: 0px;
}
.passEye{
    color: #17293f;
    height: 36px;
    width: 36px;
    margin: 0px 5px;
    margin: auto 0px;
}
#submitWrapper{
    width: 100%;
    margin-top: 25px;
    display:flex;
    justify-content: center;
}
#submit{
    border-radius: 5px;
    width: 60%;
    height: 35px;
}
#orSeparator{
    font-weight: 500;
    margin-top: 20px;
    color:#fff;
    text-transform:uppercase;
    text-align: center;
}
.landingWrapper{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
}
.InnerWrapper{
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#17293F;
    height: 545.797px;
    width:420px;
}

.linksWrapper{
    width: 100%;
    margin: 20px 0px;
}